.wholePage{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.resetMessageDiv{
    max-width: 704px;
    width: 100%;
    padding: 33px 84px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(121, 63, 249, 1);
}

.helloDiv{
    font-family:  TT_Commons-Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #200F31;
    margin-bottom: 24px;
    text-align: center;
}



.resetTextDiv{
    font-family:TT_Commons-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #200F31;
    margin-bottom: 24px;
}

.resetTextDiv:last-child{
    margin-bottom: 0;
}

.resetTextDiv:nth-child(5){
    white-space: nowrap;
}


.resetButton{
    max-width: 422px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family:  TT_Commons-Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(141.18deg, #793FF9 17.3%, #681BA6 66.93%);
    border-radius: 8px;
    border: none;
    margin-bottom: 24px;
}
